body {
  font-family: "Open Sans", sans-serif;
  color: #4d4643;
}

a {
  color: #1bbd36;
  text-decoration: none;
}

a:hover {
  color: #2ae149;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

/*--------------------------------------------------------------
# Header Social Links
--------------------------------------------------------------*/
.navbar-text {
    margin-left: 20px;
    border-left: 1px solid #c4c4c4;
  }
  
  .navbar-text a i {
    color: #a0a0a0;
    display: inline-block;
    line-height: 0px;
    transition: 0.3s;
    padding-left: 25px;
    font-size: 22px;
       


  }

  
  
  .navbar-text a i {
    line-height: 0;
  }
  
  .navbar-text a i:hover {
    color: #1bbd36;
  }
  
  @media (max-width: 768px) {
    .header-social-links {
      padding: 0 15px 0 0;
      border-left: 0;
    }
  }

  /*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navbar-light {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
.navar-brand {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
  }
  .navbar-light .navbar-nav a.nav-link {
    color: #111;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 600;
  }
  
  .navbar-light .navbar-brand {
    color: #111;
     font-family: "Roboto", sans-serif;
     font-size: 28px;
     line-height: 1;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase
  }
  
  .navbar-light .navbar-brand>span {
    color: #1bbd36;
  }

  .navbar-light .navbar-nav a.nav-link.active{
    color: #1bbd36;
  }

  .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav a.nav-link:hover {
  color: #1bbd36;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

.carousel {
    width: 100%;
    height: 800px;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
    position: relative;
    /*margin-top: 100px;*/
  }
  
  .carousel,
  .carousel .carousel-inner,
  .carousel .carousel-item,
  .carousel .carousel-item::before {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  .carousel .carousel-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    width: 80%;
    
    bottom: 60px;
    top: 70px;
    left: 10%;
    right: 55px;
  }

.carousel .carousel-content {
  background: rgba(4, 4, 4, 0.7);
  padding: 20px;
  color: #fff;
  border-top: 5px solid #1bbd36;
}

.carousel-content h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
}

.carousel .btn-get-started {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  animation-delay: 0.8s;
  border: 2px solid #1bbd36;
}

.carousel .btn-get-started:hover {
  background: #1bbd36;
  color: #fff;
  text-decoration: none;
}


  
  @media (min-width: 1024px) {
    .carousel .carousel-content {
      width: 60%;
    }
  
    
  }
  
  @media (max-width: 992px) {
    .carousel .carousel-container {
      top: 58px;
    }
  
    .carousel .carousel-content h2 {
      margin-bottom: 15px;
      font-size: 22px;
    }
  
    .carousel .carousel-content p {
      font-size: 15px;
    }
  }
  
  @media (max-height: 500px) {
    .carousel {
      height: 120vh;
    }
  }
  
  /*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about-us{
    margin-top: 30px;
}

.about-us  h2 {
    font-weight: 700;
    font-size: 42px;
    line-height: 60px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  
  .about-us  h3 {
    font-weight: 500;
    line-height: 32px;
    font-size: 24px;
  }
  
  .about-us  ul {
    list-style: none;
    padding: 0;
  }
  
  .about-us ul li {
    font-family: "Open Sans", sans-serif;
    padding: 10px 0 0 28px;
    position: relative;
  }
  
  .about-us ul i {
    left: 0;
    top: 7px;
    position: absolute;
    font-size: 20px;
    color: #1bbd36;
  }
  
  .about-us p:last-child {
    font-family: "Open Sans", sans-serif;;
    
  }

  /*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon i {
  font-size: 50px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  text-decoration: none;
  color: #111;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    color: #fff;
    font-size: 14px;
    background: #111;
  }
  
  .footer .footer-top {
    padding: 60px 0 30px 0;
    background: #1e1e1e;
  }
  
  .footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-contact h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #fff;
  }
  
  .footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Roboto", sans-serif;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }

  
  
  .footer .footer-top .footer-links {
    margin-bottom: 30px;
  }
  
  .footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #1ed33c;
    font-size: 18px;
    line-height: 1;
  }
  
  .footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }

  .footer .footer-top .footer-links ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  
  .footer .footer-top .footer-links ul a {
    color: rgba(255, 255, 255, 0.6);
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
  }
  
  .footer .footer-top .footer-links ul li a:hover {
    text-decoration: none;
    color: #fff;
  }
  
  
  
  #footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgba(255, 255, 255, 0.08);
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 4px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  
  #footer .social-links a:hover {
    background: #1bbd36;
    color: #fff;
    text-decoration: none;
  }

  /*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #1bbd36;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #21df41;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact{
  margin-top: 50px;
  margin-bottom: 50px;
}
.contact .info-wrap {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.contact .info {
  background: #fff;
}

.contact .info i {
  font-size: 20px;
  color: #1bbd36;
  float: left;
  width: 44px;
  height: 44px;
  border: 1px solid #1bbd36;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #111;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #444444;
}

.contact .info:hover i {
  background: #1bbd36;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
  padding: 30px;
  background: #fff;
}

.contact .php-email-form .form-group {
  padding-bottom: 8px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #1bbd36;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type=submit] {
  background: #1bbd36;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type=submit]:hover {
  background: #2ae149;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #1bbd36;
  min-height: 40px;
  margin-top: 10px;
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 300;
  color: #fff;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  color: #fff;
}

.breadcrumbs ol a {
  color: #fff;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #fff;
  content: "/";
}

@media (max-width: 991px) {
  .breadcrumbs {
    margin-top: 58px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

  
  